/* ------------------------------------------------------- */
/* CITIES */
/* ------------------------------------------------------- */

.city-feature {
    margin-bottom: 5px;
}

.box img {
    width:100%;
    height: auto;
    margin-bottom: 15px;
}


.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    
    /*Secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top:-4px;
}


