.section-about {
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    background-image: linear-gradient(
        to right bottom,    /* specied color below will go towards right bottom from probably left top */
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)
    ), url(../../resources/img/background/nat-4.jpg);
    padding: 20rem 0;
    background-size: cover;      /* it always tries to fit the element inside of the box */
    transform: skewY(-7deg);
    margin-top: -10rem;
    
    //all the direct child of .section-features i.e. row class we have here. i.e. .section-features > * 
    // .section-feature *   [ all childs of .section-feature class]
    // .section-feature > *  [ only the direct child of .section-feature class which is .row class]
    & > * {
    transform: skewY(7deg);
    }
}